* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", serif;
}

/* ==========================================Common====================================================== */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  padding: 0 16px;
  line-height: 50px;
  min-width: 144px;
  color: #fff;
  background: #171100;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600px;
  border-radius: 24.5px;
}

/* =====================================================Header=============================================== */
.header {
  background: beige;
}
.header.fixed {
  position: sticky;
  top: -28px; /*36px -8px (8px là tùy m muốn nó dừng ở mô*/
}
.header .body {
  display: flex;
  align-items: center; /*căn text ngay hàng (chiều dọc) */
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  position: relative; /* t là ancestor gần nhất*/
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}
.nav a:hover {
  color: #3b9c18;
  font-weight: 600;
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute; /*căn cái gạch qua thẻ a*/
  bottom: 6px;
  left: 21px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.header .action {
  margin-left: 49px;
}

/* =================================================Hero================================================== */
.hero {
  padding: 56px;
  background: beige;
}
.hero .body {
  display: flex;
}
/* ========= hero left ============== */
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .content-block {
  width: 52%; 
}
.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

/* .hero .hero-board {
  padding: 24px;
  width: 270px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
} */

/* .hero-board .item{
  display: flex;
}

.hero-board .icon{
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  justify-items: center;
  align-items: center;
  background-color: bisque;  
}

.hero-board .info{
  margin-left: 16px;
} */